<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DangerZone - поборись за звание лучшего в мире!</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins/fontawesome/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light mb-5 flex-column flex-lg-row align-items-start">
        <div class="container-xl justify-content-between">
            <div class="d-flex">
                <a href="/" class="navbar-brand"></a>
            </div>
            <div class="collapse navbar-collapse" id="navMenuContent">
                <ul class="navbar-nav ms-auto mt-lg-0">
                    <li class="nav-item">
                        <a href="/">
                            <div class="nav-circle nav-link d-flex justify-content-center align-items-center">
                                <i class="fas fa-home menu"></i>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/rules">
                            <div class="nav-circle nav-link d-flex justify-content-center align-items-center">
                                <i class="fas fa-bookmark menu"></i>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/rating/single">
                            <div class="nav-circle nav-link d-flex justify-content-center align-items-center">
                                <i class="fas fa-user menu"></i>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/rating/team">
                            <div class="nav-circle nav-link d-flex justify-content-center align-items-center">
                                <i class="fas fa-users menu"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="row mb-4">
                    <div class="col">
                        <div class="card w-100">
                            <div class="card-header">
                                <h5 class="text-black mb-0 font-14">Наша команда</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <a class="socials-personal" target="_blank" href="https://vimeworld.ru/player/Viosel">
                                            <div class="card card-body justify-content-center border-0">
                                                <div class="mx-auto justify-content-center">
                                                    <img class="mb-3" src="https://skin.vimeworld.ru/helm/3d/Viosel/100.png" height="100" width="100" alt="..." />
                                                </div>
                                                <h5 class="text-black font-16 m-0 text-center">Viosel</h5>
                                                <p class="text-light font-14 mb-0 text-center">Главный организатор</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a class="socials-personal" target="_blank" href="https://vimeworld.ru/player/f1rstedit">
                                            <div class="card card-body justify-content-center border-0">
                                                <div class="mx-auto justify-content-center">
                                                    <img class="mb-3" src="https://skin.vimeworld.ru/helm/3d/f1rstedit/100.png" height="100" width="100" alt="..." />
                                                </div>
                                                <h5 class="text-black font-16 m-0 text-center">f1rstedit</h5>
                                                <p class="text-light font-14 mb-0 text-center">Главный организатор</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a class="socials-personal" target="_blank" href="https://vimeworld.ru/player/Abdymazhit">
                                            <div class="card card-body justify-content-center border-0">
                                                <div class="mx-auto justify-content-center">
                                                    <img class="mb-3" src="https://skin.vimeworld.ru/helm/3d/Abdymazhit/100.png" height="100" width="100" alt="..." />
                                                </div>
                                                <h5 class="text-black font-16 m-0 text-center">Abdymazhit</h5>
                                                <p class="text-light font-14 mb-0 text-center">Разработчик</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a class="socials-personal" target="_blank" href="https://vimeworld.ru/player/opUni">
                                            <div class="card card-body justify-content-center border-0">
                                                <div class="mx-auto justify-content-center">
                                                    <img class="mb-3" src="https://skin.vimeworld.ru/helm/3d/opUni/100.png" height="100" width="100" alt="..." />
                                                </div>
                                                <h5 class="text-black font-16 m-0 text-center">opUni</h5>
                                                <p class="text-light font-14 mb-0 text-center">Организатор</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="card w-100">
                            <div class="card-header">
                                <h5 class="text-black mb-0 font-14">Помощь</h5>
                            </div>
                            <div class="card-body">
                                <div class="row text-center mb-5 mt-5">
                                    <h5 class="text-black mb-0 font-16">Хотите попасть в команду организации?</h5>
                                    <p class="text-light font-14 mb-0 text-center">Подробнее в личных сообщениях <a target="_blank" class="text-underline" href="https://vk.com/imykovv">здесь</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrap">
        <footer class="footer bg-light mt-5">
            <div class="container-xl">
                <div class="row">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <a class="text-light fw-normal font-12 mb-0" href="/">
                            <span class="text-black fw-normal font-12 mb-0">Danger Zone</span> <span class="text-light fw-normal font-12 mb-0">© 2021</span>
                        </a>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-end">
                        <div class="d-flex flex-column align-items-start">
                            <a class="text-light fw-normal font-12 mb-0" href="/personal">
                                <span class="text-light fw-normal font-12 mb-0">Наша команда</span>
                            </a>
                            <a class="text-light fw-normal font-12 mb-0" href="/discord">
                                <span class="text-light fw-normal font-12 mb-0">Discord</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="../js/plugins/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="../js/plugins/jquery/jquery.min.js"></script>
        <script src="../js/plugins/jquery/jquery.slimscroll.min.js"></script>
        <script src="../js/plugins/jquery/toggles.min.js"></script>
        <script src="../js/script.min.js"></script>
    </div>
</body>

</html>