<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Rating - Danger Zone</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/plugins/fontawesome/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light mb-5 flex-column flex-lg-row align-items-start">
        <div class="container-xl justify-content-between">
            <div class="d-flex">
                <a href="/" class="navbar-brand"></a>
            </div>
            <div class="collapse navbar-collapse" id="navMenuContent">
                <ul class="navbar-nav ms-auto mt-lg-0">
                    <li class="nav-item">
                        <a href="/">
                            <div class="nav-circle nav-link d-flex justify-content-center align-items-center">
                                <i class="fas fa-home menu"></i>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/rules">
                            <div class="nav-circle nav-link d-flex justify-content-center align-items-center">
                                <i class="fas fa-bookmark menu"></i>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="nav-circle nav-link d-flex justify-content-center align-items-center">
                            <i class="fas fa-user menu"></i>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/rating/team">
                            <div class="nav-circle nav-link d-flex justify-content-center align-items-center">
                                <i class="fas fa-users menu"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="row mb-4">
                    <div class="col">
                        <div class="card w-100">
                            <div class="card-header">
                                <h5 class="text-black mb-0 font-14">Single Rating</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <a th:each="el: ${players}" class="socials-personal" target="_blank" th:href="'https://vimeworld.ru/player/' + ${el.name}">
                                        <div class="card card-body border-0">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <div class="col-2 d-flex align-items-center">
                                                    <h5 th:text="${el.place}" class="text-black number-place pl-5 m-0"></h5>
                                                </div>
                                                <div class="col-4 d-flex align-items-center">
                                                    <img th:src="@{'https://skin.vimeworld.ru/helm/3d/' + ${el.name} +'.png'}" class=""height="50" width="50" alt="..." />
                                                </div>
                                                <div class="col-4 d-flex flex-column align-items-lg-start">
                                                    <h5 th:text="${el.name}" class="text-black nickname-nameteam m-0"></h5>
                                                    <p th:text="${el.points} + ' очков'" class="text-light rating-player mb-0"></p>
                                                </div>
                                                <div class="col-2 d-flex d-flex align-items-center justify-content-center">
                                                    <img th:src="${el.image}" class="" height="50" width="50" alt="..." />
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrap">
        <footer class="footer bg-light mt-5">
            <div class="container-xl">
                <div class="row">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <a class="text-light fw-normal font-12 mb-0" href="/">
                            <span class="text-black fw-normal font-12 mb-0">Danger Zone</span> <span class="text-light fw-normal font-12 mb-0">© 2021</span>
                        </a>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-end">
                        <div class="d-flex flex-column align-items-start">
                            <a class="text-light fw-normal font-12 mb-0" href="/personal">
                                <span class="text-light fw-normal font-12 mb-0">Наша команда</span>
                            </a>
                            <a class="text-light fw-normal font-12 mb-0" target="_blank" href="/discord">
                                <span class="text-light fw-normal font-12 mb-0">Discord</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="../js/plugins/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="../js/plugins/jquery/jquery.min.js"></script>
        <script src="../js/plugins/jquery/jquery.slimscroll.min.js"></script>
        <script src="../js/plugins/jquery/toggles.min.js"></script>
        <script src="../js/script.min.js"></script>
    </div>
</body>

</html>